<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <application android:theme="@style/Theme.Dotnote" android:label="Dotnote"
        android:icon="@drawable/ic_launcher" android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules"
        android:supportsRtl="true">
        <activity android:name=".CreateNoteActivity" android:exported="true"
            android:showWhenLocked="true" android:turnScreenOn="true"
            android:resizeableActivity="true" android:documentLaunchMode="always"
            android:taskAffinity="" android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustResize">
            <property android:name="android.window.PROPERTY_SUPPORTS_MULTI_INSTANCE_SYSTEM_UI" android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.CREATE_NOTE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider android:name=".VaultDocumentsProvider" android:authorities="dev.dotnote.app.vaults" android:exported="true" android:grantUriPermissions="true" android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter><action android:name="android.content.action.DOCUMENTS_PROVIDER" /></intent-filter>
        </provider>
        <receiver android:name=".QuickNoteWidget" android:exported="false" android:label="@string/widget_quick_name">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_quick_info"/>
        </receiver>
        <receiver android:name=".RecentNotesWidget" android:exported="false" android:label="@string/widget_recent_name">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_recent_info"/>
        </receiver>
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
